<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuangyexia.dao.CompanyInfoMapper">
    <select id="getCompanyInfoList" resultType="com.chuangyexia.entity.CompanyInfoVo">
        select
            id as id,
            company_name as companyName,
            company_tip as companyTip,
            company_type as companyType,
            label1 as label1,
            label2 as label2,
            join_price as joinPrice,
            application_count as applicationCount,
            good_evaluate as goodEvaluate,
            shop_count as shopCount,
            big_pic_url as bigPicUrl,
            small_pic_url as smallPicUrl,
            company_profile as companyProfile
        from company_info
        <where>
            <if test='companyName != null'>
                and company_name like #{companyName}
            </if>
            <if test='companyType != null and companyType != ""'>
                and company_type = #{companyType}
            </if>
            <if test='bigPicUrl != null and bigPicUrl != ""'>
                and big_pic_url = #{bigPicUrl}
            </if>
            <if test='smallPicUrl != null and smallPicUrl != ""'>
                and small_pic_url = #{smallPicUrl}
            </if>
            <if test='maxPrice != null and maxPrice != ""'>
                and join_price <![CDATA[ <= ]]> maxPrice
            </if>
            <if test='minPrice != null and  minPrice != ""'>
                and join_price <![CDATA[ >= ]]> minPrice
            </if>
        </where>
    </select>
    <select id="getCompanyInfoDetailById" resultType="com.chuangyexia.entity.CompanyInfoVo">
        select
            id as id,
            company_name as companyName,
            company_tel as companyTel,
            company_tip as companyTip,
            company_type as companyType,
            join_price as joinPrice,
            label1 as label1,
            label2 as label2,
            application_count as applicationCount,
            good_evaluate as goodEvaluate,
            shop_count as shopCount,
            big_pic_url as bigPicUrl,
            small_pic_url as smallPicUrl,
            company_profile as companyProfile
        from company_info
        where id = #{id}
    </select>
    
    <select id="getLookAgainList" parameterType="string" resultType="com.chuangyexia.entity.CompanyInfoVo">
        select
            id as id,
            company_name as companyName,
            company_tip as companyTip,
            company_type as companyType,
            label1 as label1,
            label2 as label2,
            join_price as joinPrice,
            application_count as applicationCount,
            small_pic_url as smallPicUrl
        from company_info
        where
            company_type = #{companyType}
            and del_flag = false
			order by good_evaluate desc
            limit 3
    </select>

    <select id="getCarouselPic" resultType="com.chuangyexia.entity.CompanyInfoVo">
       SELECT
          id as id,
          big_pic_url as bigPicUrl
       from company_info
       where del_flag = false
       order by shop_count desc
       limit 3
    </select>

    <select id="getBusinessTop" resultType="com.chuangyexia.entity.CompanyInfoVo">
       SELECT
          id as id,
          big_pic_url as bigPicUrl
       from company_info
       where del_flag = false
       order by application_count desc
       limit 2
    </select>

</mapper>